<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'afg_pro/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'afg_pro/navbar.html' %}
    <div class="new_wrapper">
<h1>Edit The Order</h1>
<hr>
<table class="new_product">
          
    <form action = "" method="post" class="">
    <tr>
            {% csrf_token %}
            <th>{{form}}</th>
            
            
        </tr>
        
        
    </table>
    <P style="float: left; margin-left: 20em;"><input type="submit" name="Submit"
         style="background-color: green; color: white; border: none; padding: 8px; border-radius: 15px 50px 30px"></p> 

    </form>
</div>

</body>
</html>